/*fondo de pantalla */
body {
  min-height: 100vh;
  background-image: url("FondoPokemon.jpeg");
  margin: 0;
  padding: 0;
}

/*  caja que contiene todos los elemento de pantalla de inicio */
.container {
  width: 80%;
  max-width: 100%;
  margin: 0% auto;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}

/*  caja que contienela palabra pokemon */
.boxImg {
  width: 100%;
  height: 60%;
  background-color: transparent;
}

/*  atributos imagen titulo pokemon */
.img {
  display: block;
  width: 60%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
}
/*  atributos imagen titulo Memory battle*/
.imgMemory {
  display: block;
  margin: 0% auto;
  width: 30%;
  left: 30%;
}
/*  caja que contiene a pikachu */

.boxPokemon {
  float: right;
  width: 50%;
  height: 50%;
  background-color: transparent;
}
/*  atributos de imagen pikachu */
.imgOne {
  margin-left: auto;
  margin-right: none;
  display: block;
  width: 50%;
  height: 50%;
}

/*  caja que contiene a bolbasor */
.boxPokemon1 {
  background-color: transparent;
  float: left;
  width: 50%;
  height: 50%;
}
/*  atributos de imagen bolbasor */
.imgTwo {
  margin-left: none;
  display: block;
  width: 50%;
  height: 50%;
}

/*  caja que contiene el boton */
.boxButton {
  border-radius: 100%;
  width: 30%;
  height: 30%;
  background-color: transparent;
  border-width: 0px;
  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 50%;
  left: 50%;
  /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
  margin: -0% 0 0 -15%;
}
/*  aqui se le danlos atributos a la palabra go /juga/play */
.boxButtonone {
  border-radius: 100%;
  width: 30%;
  height: 30%;
  background-color: transparent;
  border-width: 0px;
  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 50%;
  left: 50%;
  /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
  margin: -0% 0 0 -15%;
}

/*  estilo del boton */

.closing {
  background-color: transparent;
  outline-color: none;
  border-radius: 0px;
  overflow: hidden;
  width: max-content;
  height: max-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*  Atributos imagen pokebola */
.botonImagen {
  width: 50%;
  height: 70%;

  /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
  margin: -0% 5 0 -15%;
}

/*  texto piede pagina*/
.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
}
/*  atributospalabra  go/ play / jugar*/
.WordGo {
  position: absolute;
  top: 50%;
  left: 50%;
  /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
  margin: -6% 0 0 -11.5%;
}

/*  caja que contiene todos los elemento de segunda pantalla */
.containerFlextwo {
  display: flex;
  width: 700px;
  height: 700px;
  max-width: 100%;
  margin: 0% auto;
  align-content: space-evenly;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #C4C4C4;
  opacity: 0.75;
}



/*  Contenedor timer*/
.timer {
  display: flex;
  height: 10%;
  width: 90%;
  background-color: rebeccapurple;
  order: 1;
}

.cards {
  display: flex;
  height: 70%;
  width: 40%;
  background-color: brown;
  order: 2;
  align-self: flex-start;
}

/*  Contenedor de imagenes como jugar*/
.boxHowtoPlay {
  height: 50%;
  width: 40%;
  background-color: greenyellow;
  order: 3;
  display: flex;
}