* {
	box-sizing: border-box;
}


/*fondo de pantalla */

body {
	min-height: 100vh;
	background-image: url("/assets/FondoPokemon.jpeg");
	margin: 0;
	padding: 0;
	display: flex;
}


/*  caja que contiene todos los elemento de pantalla de inicio */

.container {
	width: 80%;
	max-width: 100%;
	margin: 0% auto;
	overflow: hidden;
	padding: 20px;
	box-sizing: border-box;
}


/*  caja que contienela palabra pokemon */

.boxImg {
	width: 100%;
	height: 60%;
	background-color: transparent;

}


/*  atributos imagen titulo pokemon */

.img {
	display: block;
	width: 60%;
	height: 40%;
	margin-left: auto;
	margin-right: auto;
}


/*  atributos imagen titulo Memory battle*/

.imgMemory {
	display: block;
	margin: 0% auto;
	width: 30%;
	left: 30%;
}


/*  caja que contiene a pikachu */

.boxPokemon {
	float: right;
	width: 50%;
	height: 50%;
	background-color: transparent;
}


/*  atributos de imagen pikachu */

.imgOne {
	margin-left: auto;
	margin-right: none;
	display: block;
	width: 50%;
	height: 50%;
}


/*  caja que contiene a bolbasor */

.boxPokemon1 {
	background-color: transparent;
	float: left;
	width: 50%;
	height: 50%;
}


/*  atributos de imagen bolbasor */

.imgTwo {
	margin-left: none;
	display: block;
	width: 50%;
	height: 50%;
}



/*  texto piede pagina*/

.footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 30px;
	width: 100%;
}


/*  atributospalabra  go/ play / jugar*/

.WordGo {
	position: absolute;
	top: 50%;
	left: 50%;
	/* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
	margin: -6% 0 0 -11.5%;
}


/*  caja que contiene todos los elemento de segunda pantalla */

.containerFlextwo {
	display: flex;
	width: 100%;
	height: 650px;
	max-width: 100%;
	margin: 0% auto;
	justify-content: center;
	flex-flow: row wrap;
	background-color: #c4c4c4;
	opacity: 0.75;
}


/*  Contenedor timer*/

.timer {
	display: flex;
	height: 10%;
	width: 10%;
	background-color: rebeccapurple;
	order: 1;
	margin-top: 0%;
	margin-left: 700px;
}


/*  Contenedor de cartas*/

.boxCards {
	display: flex;
	background-color: lightgray;
	width: 600px;
	height: 500px;
	margin-right: 650px;
	order: 2;
	margin-top: 50px;
	flex-wrap: wrap;
	margin-bottom: 200px;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	padding: 50px;
}


/*  Diseño de  cartas, Se define un tiempo de transición que mantenga el estilo 3D 
y se definen las coordenadas dónde se aplicará el efecto */

.cardDesing {
	position: relative;
	width: 120px;
	height: 120px;
	transition: 0.6s;
	transform-style: preserve-3d;
	transform-origin: 0% 76px;
	margin: 0% auto;
}


/*  se aplican los estilos a la clase del elemento que girará sobre sí mismo (efecto flip card)
 en cuanto se pase el puntero por encima (hover).
 También se define la rotación sobre sí mismo rotateX(180deg) cuando se le aplique la clase flip.*/

/*.cardDesing:hover,
.cardDesing.flip {
	transform: rotateX(180deg);
}*/


/*  Se aplican los estilos a las clases que representas la parte delantera y trasera de las cartas
se aplica la propiedad backface-visibility para ocultar la parte trasera de la tarjeta e inicializar la cara frontal con rotateX(0deg) 
 y la trasera con rotate(180deg) para que nunca se vean las 2 a la vez.*/

.frontCard,
.backCard {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
  transition: opacity 0.8s linear;
  border-radius: 15%;
}

/*  Se aplican los estilos a las clases que representas la parte delantera y trasera de las cartas
aqui se inicializa  la cara frontal con rotateX(0deg) 
La propiedad CSS z-index indica el orden de un elemento posicionado y sus descendientes. Cuando varios elementos se superponen,
 los elementos con mayor valor z-index cubren aquellos con menor valor.*/

.frontCard {
  background-color: whitesmoke;
	color: whitesmoke;
	font: 1em/1.8em Arial;
	display: block;
	align-items: center;
	justify-content: center;
  /*transform: rotateX(83deg);*/
  opacity: 0;
}


/*  Se aplican los estilos a las clases que representas la parte delantera y trasera de las cartas
aqui se inicializa  trasera con rotate(180deg)  */

.backCard {
  background: repeating-linear-gradient( -45deg, white, #ececec 10px, #dedede 10px, #dedede 20px);
	opacity: 1;
}


/*  Contenedor de imagenes como jugar */

.boxHowtoPlay {
	height: 450px;
	width: 450px;
	background-color: greenyellow;
	order: 3;
	margin-left: 600px;
	margin-top: -665px;
	justify-content: center;
}

.boxWordhowToplay {
	background-color: transparent;
	width: 500px;
	height: 450px;
	margin-top: -30px;
	align-content: center;
	justify-content: space-around;
	order: 3;
	position: relative;
	display: grid;
	align-items: center;
	margin: 0% auto;
	padding-left: 30px;
	padding-top: 10px;
	margin-bottom: 500px;
	position: absolute;
}

.ticket {
	height: 80px;
	width: 80px;
	margin-left: 20px;
}

.equis {
	height: 70px;
	width: 70px;
	margin-left: 15px;
}

.palabraComoJugar {
	height: 80px;
	width: 200px;
	margin-top: -90px;
	background-color: transparent;
	margin-left: 105px;
}


/*  caja que contiene el boton */
.boxButton {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
	margin-top: -200px;
  }
  .redondo {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-top: 50px;
	margin-left: 25px;
	position: relative;
	
	border-width: 0px;
	background-color:black;
	padding: 5px;
	box-shadow: 0 9px black;
  }
  .imgBoton {
    display: block;
    width: 113px;
    height: 114px;
    border-radius: ;
    position: relative;
    margin-top: -11px;
    margin-left: -11px;
    border-width: 0px;
    background-color: transparent;
    padding: 5px;
}
  .redondo:active {
	background-color: black;
	box-shadow: 0 2px black;
	transform: translateY(4px);
  }
  .pointer {
    display: block;
    width: 36%;
    height: 43%;
    margin-top: -35px;
    margin-left: 52px;
    position: relative;
    top: 86%;
    left: 38%;
    border-width: 0px;
    background-color: transparent;
}
 /*Responsive iPhone X*/
@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3) {

	.container {
		width: 105%;
		max-width: 100%;
		overflow: hidden;
		padding: 20px;
		box-sizing: border-box;
		margin-top: 14vh;
	}

	.redondo {
		display: block;
		width: 64px;
		height: 63px;
		border-radius: 50%;
		margin-top: -43px;
		margin-left: 25px;
		position: relative;
		border-width: 0px;
		background-color: black;
		padding: 5px;
		box-shadow: 0 9px black;
	}

	.imgBoton {
		display: block;
		width: 77px;
		height: 78px;
		border-radius: ;
		position: relative;
		margin-top: -11px;
		margin-left: -11px;
		border-width: 0px;
		background-color: transparent;
		padding: 5px;
	}

	.pointer {
		margin-left: 41px;
		
	}

	.img {
		width: 85%;

	}

	.imgMemory {
		display: block;
		margin: 0% auto;
		width: 45%;
		left: 37%;
		margin-left: 106px;
	}

	.imgOne {
		margin-left: auto;
		margin-right: none;
		display: block;
		width: 64%;
		height: 50%;
	}

	.imgTwo {
		margin-left: none;
		display: block;
		width: 64%;
		height: 50%;
	}


	}
	/*Responsive horizontal iPhone X*/
	@media only screen 
    and (device-width : 812px) 
    and (device-height : 375px) 
    and (-webkit-device-pixel-ratio : 3) {

		.container {
			margin-top: 5vh;
			height: 84%;
			width: 60%;
		}

		.wordMemory {
			width: 50%;
			height: 25%;
			background-color: transparent;
			margin: 0% auto;

		}

		.boxImg {
			width: 56%;
			height: 46%;
			margin-left: 25%;
		}

		.img {
			width: 120%;
			height: 60%;
			margin-left: -26%;
			margin-top: -35px;
			padding-top: 15px;
		}
		.imgMemory {
			height: 70%;
			width: 140%;
			float: right;
			margin-left: -120px;
	
		}

		.imgBoton {
			width: 50px;
			height: 55x;
			margin-left: -20px;
			margin-top: -11px;
		}

		.redondo {
			width: 30px;
			height: 30px;
			margin-left: 0px;
			margin-top: -147px;
		}

		.imgOne {
			margin-left: 90px;
			margin-right: none;
			width: 65%;
			height: 90%;
			margin-top: -59px;
		}

		.imgTwo {
			margin-left: none;
			display: block;
			width: 60%;
			height: 65%;
			margin-top: -31px;
		}


	} 
	/*Responsive de iPad*/
	@media only screen and (min-width: 768px) and (max-width: 1024px) {

		.imgMemory {
			margin-left: 225px;
		}

		.redondo {
			width: 79px;
			height: 71px;
		}

		.imgBoton {
			width: 93px;
			height: 89px;
			margin-left: -12px;
		}
		.container {
			margin-top: 16vh;
		}


		
	}
/*Responsive Samsung Galaxy*/
	@media only screen 
    and (device-width : 360px) 
    and (device-height : 640px) 
    and (-webkit-device-pixel-ratio : 3){
	.container {
    width: 99%;
    max-width: 100%;
    margin-top: 50px;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}
.redondo {
    display: block;
    width: 30px;
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 23px;
    position: relative;
    border-width: 0px;
    background-color: black;
    padding: 5px;
    box-shadow: 0 9px black;
}
.imgBoton {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: ;
    position: relative;
    margin-top: -11px;
    margin-left: -11px;
    border-width: 0px;
    background-color: transparent;
    padding: 5px;


	}